{% extends "education/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block content %}
<!-- <form method="post" action=".">
  {% csrf_token %}
  {{ form.as_p }}

  <input type="submit" value="{% trans 'Submit' %}" />
</form> -->

<div class="container">
  <div class="card" style="max-height: 60%; max-width: 50%; margin:10% auto;">
    <div class="card-header card-header-primary">
      <h4 class="card-title">Create Profile</h4>
      <p class="card-category">All details are necesarry</p>
    </div>
    <div class="card-body">
      <form method="post">
        {% csrf_token %}
        {{form.errors}}
        <div class="row">
          <div class="col-md-6">
            <label class="bmd-label-floating">Username</label>
            {% render_field form.username class="form-control" %}
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="bmd-label-floating">Email address (Use disposable ones)</label>
              {% render_field form.email class="form-control" %}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="bmd-label-floating">Fist Name</label>
              {% render_field form.first_name class="form-control" %}
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="bmd-label-floating">Last Name</label>
              {% render_field form.last_name class="form-control" %}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="bmd-label-floating">Password</label>
              {% render_field form.password1 class="form-control" %}
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="bmd-label-floating">Confirm Password</label>
              {% render_field form.password2 class="form-control" %}
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-4">
            <label class="bmd-label-floating">Choose your role</label>
          </div>
          <div class="col-md-4 text-center">
            <div class="form-check-inline">
              <!-- <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="" checked="">
                  <span class="form-check-sign">
                    <span class="check"></span>
                  </span>
                </label>
              </div> -->
              {% render_field form.available_mentor class="form-check-input" id="defaultCheck1" %}
              <label class="form-check-label" for="defaultCheck1">
                As Mentor
              </label>

            </div>
          </div>
          <div class="col-md-4">
            <div class="form-check-inline">
              <!-- <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="" checked="">
                  <span class="form-check-sign">
                    <span class="check"></span>
                  </span>
                </label>
              </div> -->
              {% render_field form.available_mentee class="form-check-input" id="defaultCheck1" %}
              <label class="form-check-label" for="defaultCheck1">
                As Mentee
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>About Me</label>
              {% render_field form.bio class="form-control" %}
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary pull-right">Create Account</button>
        <div class="clearfix"></div>
      </form>
    </div>
  </div>
</div>
{% endblock %}