{% extends 'education/base.html' %}
{% load staticfiles %}
{% block content %}
<div class="wrapper ">
  <div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
    <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
    <div class="logo">
      <a href="http://www.creative-tim.com" class="simple-text logo-normal">
        {{request.user.username}}
      </a>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li class="nav-item active  ">
          <a class="nav-link" href="{% url 'dashboard' %}">
            <i class="material-icons">dashboard</i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="{% url 'userprofile' %}">
            <i class="material-icons">person</i>
            <p>User Profile</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="{% url 'postquestion' %}">
            <i class="material-icons">content_paste</i>
            <p>Post a Question</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="{% url 'yourlistedquestions' %}">
            <i class="material-icons">bubble_chart</i>
            <p>Your Questions</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="{% url 'notif' %}">
            <i class="material-icons">notifications</i>
            <p>Notifications</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="{% url 'auth_logout' %}">
            <i class="material-icons">bubble_chart</i>
            <p>Logout</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="main-panel">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
      <div class="container-fluid">
        <div class="navbar-wrapper">
          <a class="navbar-brand" href="#pablo">Questions Feed</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon icon-bar"></span>
          <span class="navbar-toggler-icon icon-bar"></span>
          <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link" href="#pablo" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="material-icons">person</i>
                <p class="d-lg-none d-md-block">
                  Account
                </p>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <span style="float:right;display: none;" id="bidsuccess"><b>Bid submitted successfully</b></span>

    </nav>
    <!-- End Navbar -->

    <div class="content" style="padding-left:50px;padding-right:50px;">

      <div class="container-fluid" id="feed_content">

      </div>
    </div>
    <footer class="footer">
      <div class="container-fluid">
        <div class="copyright float-right">
          &copy;
          <script>
            document.write(new Date().getFullYear())
          </script>, made with <i class="material-icons">favorite</i> by
          <a href="https://github.com/Ctrl-plus-C" target="_blank">Team Ctrl+C</a> for a better web.
        </div>
      </div>
    </footer>
  </div>
  <div class="modal" id="submitanswermodal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p id="modalcontent"></p>
            <div class="form-group">
                <label>Write Your Answer Here</label>
                <div class="form-group bmd-form-group">
                  <textarea id='answer_area' class="form-control" rows="5"></textarea>
                </div>
              </div>
              <span id="submitsuccess"></span>
          </div>
          <div class="modal-footer">
            <button type="button" id="answergiven" class="btn btn-primary">Save changes</button>
            <button type="button" id="closemodall" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  {% endblock %}
{% block scripts %}
<script>
  var something;
  $(document).ready(function () {
    var htmlStr = '';
    var questions_data;
    var tag_data;
    $.ajax({
      type: "GET",
      url: "http://127.0.0.1:8000/api/question/",
      async: false,
      success: function (data) {
        console.log(data);
        something = data;
        data.map(function (ques_data) {
          var tagStr = "";
          var numOfAnswers = 0;
          $.ajax({
            type: "GET",
            url: "http://127.0.0.1:8000/api/tags/" + ques_data.pk,
            async: false,
            success: function (tag_data) {
              tag_data = tag_data;
              tag_data.map(function (eachtag) {
                tagStr += `<span class="badge badge-secondary">` + eachtag.tag +
                  `</span> &nbsp`
              });
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
              console.log(XMLHttpRequest, textStatus, errorThrown);
            }

          });
          $.ajax({
            type: "GET",
            url: "http://127.0.0.1:8000/api/answers/" + ques_data.pk,
            async: false,
            success: function (ans_data) {
              numOfAnswers = ans_data.length;
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
              console.log(XMLHttpRequest, textStatus, errorThrown);
            }

          });
          let upvotes = parseInt(ques_data.question_upvotes);
          let downvotes = parseInt(ques_data.question_downvotes);
          let reputation = upvotes - downvotes;
          htmlStr +=
            `<div class="row" data-quesid=`+ ques_data.pk +`>
                <div class="col-lg-12 col-md-12">
                  <div class="card">
                    <div class="card-header card-header-tabs card-header-primary">
                      <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">
                          <h4 class="nav-tabs-title" data-questitle=`+ques_data.question_title+`>` +
            ques_data.question_title +
            `</h4>
                          <ul class="nav nav-tabs" style="float:right;" data-tabs="tabs">
                            <li class="nav-item">
                                  <a class="nav-link" href="#profile" data-toggle="tab">
                                    <i class="material-icons">create</i>` +
            numOfAnswers +
            `
                                    <div class="ripple-container"></div>
                                  </a>
                                </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#profile" data-toggle="tab">
                                <i class="material-icons">4k</i>` +
            reputation +
            `
                                <div class="ripple-container"></div>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="card-body animatedesc">
                      <div class="tab-content">
                        <div class="tab-pane active" id="profile">
                          <blockquote class="blockquote" data-quesdesc=`+ques_data.question_description+`>
                            <p>` +
            ques_data.question_description +
            `</p>
                          </blockquote>
                        </div>
                        <hr >` +
                        tagStr + `
                       <span style="float:right;"><button type="submit" id="`+ques_data.pk+`" class="bid btn btn-primary btn-sm pull-right">Bid for answer<div class="ripple-container"></div></button></span>   
                       <span style="float:right;"><button type="submit" id="`+ques_data.pk+`" class="viewanswer btn btn-primary btn-sm pull-right">View Answers<div class="ripple-container"></div></button></span>
                       <span style="float:right;"><button type="submit" id="`+ques_data.pk+`" data-toggle="modal" data-target="#submitanswermodal" class="submitanswer btn btn-primary btn-sm pull-right">Submit Answer<div class="ripple-container"></div></button></span>
                       <span style="float:right;"><button type="submit" style="background-color:#55b559" id="`+ques_data.pk+`" class="bid btn btn-secondary btn-sm pull-right"><i class="material-icons">arrow_drop_down</i><div class="ripple-container"></div></button></span>   
                       <span style="float:right;"><button type="submit" style="background-color:#55b559" id="`+ques_data.pk+`" class="bid btn btn-secondary btn-sm pull-right"><i class="material-icons">arrow_drop_up</i><div class="ripple-container"></div></button></span>   
                      </div>
                    </div>
                  </div>
                </div>
              </div>`
        });

        // show data
        $('#feed_content').after(htmlStr);
        console.log(data);
      },
      error: function (XMLHttpRequest, textStatus, errorThrown) {
        console.log(XMLHttpRequest, textStatus, errorThrown);
      }
    });
  })
  </script>
  <script>
  $(document).ready(function(e){
    var ques_id; 
    $('.submitanswer').on('click', function(e){
      ques_id = e.target.id;
      let ques_data;
      something.map(function(somedata){
        if (ques_id == somedata.pk){
          ques_data = somedata;
        }
      });
      let ques_description = ques_data.question_description;
      let ques_title = ques_data.question_title;
      console.log(ques_description, ques_title);
      $('.modal-title').append(ques_title);
      $('#modalcontent').append(ques_description);
    });
    $('#answergiven').click(function(e){
      let answer_text = $('#answer_area').val()
      data = {}
      data['user'] = {{request.user.pk}};
      data['question'] = ques_id;
      data['answer_text'] = answer_text;
      console.log(data);
      $.ajaxSetup({
        headers: {
          "X-CSRFToken": '{{csrf_token}}'
        }
      });
      $.ajax({
        type: "POST",
        url: "http://127.0.0.1:8000/api/answers/",
        async: false,
        data: data,
        success: function (data) {
          console.log(data);
          $('#submitsuccess').append('Answer submitted successfully');
          setTimeout(function(){
            $('#closemodall').click();
          },2000);
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
          console.log(XMLHttpRequest, textStatus, errorThrown);
        }
      });
    });

    $('.bid').on('click', function(e){
      ques_id = e.target.id;
      user_id = {{request.user.pk}};
      data = {};
      data['user'] = user_id;
      data['question'] = ques_id;
      $.ajaxSetup({
        headers: {
          "X-CSRFToken": '{{csrf_token}}'
        }
      });
      $.ajax({
        type: "POST",
        url: "http://127.0.0.1:8000/api/bider/",
        async: false,
        data: data,
        success: function (data) {
          console.log(data);
          $('#bidsuccess').show();
          setTimeout(function(){
            $('#bidsuccess').hide();
          },2000);
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
          console.log(XMLHttpRequest, textStatus, errorThrown);
        }
      });
    });
    $('.viewanswer').on('click', function(e){
      ques_id = e.target.id;
      let username_data = '';
      ansStr = '';
      $.ajax({
            type: "GET",
            url: "http://127.0.0.1:8000/api/answers/" + ques_id,
            async: false,
            success: function (ans_data) {
              ans_data.map(function(ansdata){
                console.log(ansdata);
                $.ajaxSetup({
                            headers: {
                                "X-CSRFToken": '{{csrf_token}}'
                             }
                         });
                $.ajax({
                  type: "POST",
                  url: "http://127.0.0.1:8000/api/userdetails/",
                  async: false,
                  data: {'user':ansdata.user},
                  success: function(userdata){
                      username_data = userdata.name;
                  },
                  error: function (XMLHttpRequest, textStatus, errorThrown) {
                      console.log(XMLHttpRequest, textStatus, errorThrown);
                  }
                });
                ansStr +=`<h2>Answer</h2><div class="row" data-quesid=`+ ansdata.pk +`>
                <div class="col-lg-12 col-md-12">
                  <div class="card">
                    <div class="card-header card-header-tabs card-header-primary">
                      <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">
                          <h4 class="nav-tabs-title">By user: ` +
            username_data +
            `</h4>
                          <ul class="nav nav-tabs" style="float:right;" data-tabs="tabs">
                            <li class="nav-item">
                                  <a class="nav-link" href="#profile" data-toggle="tab">
                                    <i class="material-icons">create</i>` +
            ansdata.answer_upvotes +
            `
                                    <div class="ripple-container"></div>
                                  </a>
                                </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#profile" data-toggle="tab">
                                <i class="material-icons">4k</i>` +
            ansdata.answer_downvotes +
            `
                                <div class="ripple-container"></div>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="card-body animatedesc">
                      <div class="tab-content">
                        <div class="tab-pane active" id="profile">
                          <blockquote class="blockquote" data-quesdesc=`+ansdata.question_description+`>
                            <p>` +
            ansdata.answer_text +
            `</p>
                          </blockquote>
                        </div>
                        <hr >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr>`
              });
              $('#feed_content').append(ansStr);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
              console.log(XMLHttpRequest, textStatus, errorThrown);
            }

          });
    });

  });
  </script>
{% endblock %}
  
