{% extends 'education/base.html' %}
{% load staticfiles %}

{% block content %}

<div class="wrapper ">
  <div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
    <div class="logo">
      <a href="https://github.com/Ctrl-plus-C" class="simple-text logo-normal">
        {{ name }}
      </a>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dashboard' %}">
            <i class="material-icons">dashboard</i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="{% url 'userprofile' %}">
            <i class="material-icons">person</i>
            <p>User Profile</p>
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'postquestion' %}">
            <i class="material-icons">content_paste</i>
            <p>Post a Question</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="{% url 'yourlistedquestions' %}">
            <i class="material-icons">library_books</i>
            <p>Your Questions</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="{% url 'notif' %}">
            <i class="material-icons">notifications</i>
            <p>Notifications</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="{% url 'auth_logout' %}">
            <i class="material-icons">bubble_chart</i>
            <p>Logout</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="main-panel">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon icon-bar"></span>
          <span class="navbar-toggler-icon icon-bar"></span>
          <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end">
          <form class="navbar-form">
            <div class="input-group no-border">
              <input type="text" value="" class="form-control" placeholder="Search...">
              <button type="submit" class="btn btn-white btn-round btn-just-icon">
                <i class="material-icons">search</i>
                <div class="ripple-container"></div>
              </button>
            </div>
          </form>
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link" href="#pablo" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="material-icons">person</i>
                <p class="d-lg-none d-md-block">
                  Account
                </p>
                </p>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->
    <div class="content">
      <div class="container-fluid">
        <div class="card" style="max-width: 80%; margin: auto;">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Post a question</h4>
            <p class="card-category">* are required</p>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="bmd-label-floating">Question title*</label>
                  <input id="question-title" type="text" class="form-control">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="bmd-label-floating">Question Description*</label>
                  <input id="ques-description" type="text" class="form-control">
                </div>
              </div>
            </div>
            <!-- <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="bmd-label-floating">Field of Question</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
              </div> -->
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="bmd-label-floating">Add tags</label>
                  <input id="tags" type="text" class="form-control">
                </div>
              </div>
            </div>
            <!-- <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Level of Urgency (default = lowest)</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
              </div> -->
            <button id="submit-ques" class="btn btn-primary pull-left">Submit your question</button>
            <div class="clearfix"></div>
            <div class="success-card" style="visibility: hidden;">Your question has been succesfully submitted</div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container-fluid">
        <nav class="float-left">
          <ul>
            <li>
              <a href="https://github.com/Ctrl-plus-C">
                Ctrl-plus-C
              </a>
            </li>
            <li>
              <a href="#">
                About Us
              </a>
            </li>
            <li>
              <a href="#">
                Blog
              </a>
            </li>
            <li>
              <a href="#">
                Licenses
              </a>
            </li>
          </ul>
        </nav>
        <div class="copyright float-right">
          &copy;
          <script>
            document.write(new Date().getFullYear())
          </script>, made with <i class="material-icons">favorite</i> by
          <a href="https://github.com/Ctrl-plus-C" target="_blank">Team Ctrl+C</a> for a better web.
        </div>
      </div>
    </footer>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script>
  $(document).ready(function () {
    $("#submit-ques").click(function (e) {
      console.log("inside");
      e.preventDefault();
      var ques_title = $("#question-title").val();
      var ques_description = $("#ques-description").val();
      var tags = $("#tags").val();
      tags = tags.trim().split(",");
      var alltags = [];
      tags.map(function (data) {
        alltags.push(data.trim());
      });
      var data = {}
      data['question_title'] = ques_title;
      data['question_description'] = ques_description;
      data['user'] = {{request.user.pk}};
      var ques_id = 0;
      $.ajaxSetup({
        headers: {
          "X-CSRFToken": '{{csrf_token}}'
        }
      });
      $.ajax({
        type: "POST",
        url: "http://127.0.0.1:8000/api/question/",
        data: data,
        async: false,
        success: function (data) {
          console.log(data);
          ques_id = data.pk;
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
          console.log(XMLHttpRequest, textStatus, errorThrown);
        }
      });
      var finallist = []
      alltags.map(function (data) {
        finallist.push({
          'question': ques_id,
          'tag': data
        });
      });
      console.log(finallist);
      $.ajaxSetup({
        headers: {
          "X-CSRFToken": '{{csrf_token}}'
        }
      });

      $.ajax({
        type: "POST",
        url: "http://127.0.0.1:8000/api/tags/",
        data: {
          'data': JSON.stringify(finallist)
        },
        success: function (data) {
          console.log(data);
          $(".success-card").css("visibility", "visible");
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
          console.log(XMLHttpRequest, textStatus, errorThrown);
        }

      });
    });
  })
</script>
{% endblock %}